<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545243335695-dqimulq1li1rsnlvonubtihego20dtnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545243335695-dqimulq1li1rsnlvonubtihego20dtnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBb95BYd9T7k6WK4Rblt38cJ12nyQnKUv8</string>
	<key>GCM_SENDER_ID</key>
	<string>545243335695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.slaviWalletMobile</string>
	<key>PROJECT_ID</key>
	<string>defi-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>defi-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545243335695:ios:6b72d28261b778fed9677a</string>
</dict>
</plist>
